node_modules

/.cache
/build
/public/build
.env
/app/tailwind.css
.ds_store

# Local Netlify folder
.netlify
node_modules
/.cache
/netlify/functions/server/build
/public/build

# vercel things
/api/_build